
body{
    font-family: Arial, Helvetica, sans-serif;
}

#connexion {

    display: flex;
    flex-direction: column;
    justify-content: center;


    margin: auto;
    margin-top: 15%;    
    box-sizing: border-box;
    float: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 30em;
    height: auto;
    background-color: goldenrod;
    border-radius: 15px;
    box-shadow: 5px;
    align-content: center;
   
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a:link{
    text-decoration: none;
    color: black;
}

body {
    background-color: darkkhaki;
}

div {
    text-align: center;
}

#password{
    margin: auto;
    padding-top: 5px
}

#submit{
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#link-message{
    margin: auto;
}