#connexion {
    box-sizing: border-box;
    display: block;
    float: center;

    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 24em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 30%;
    background-color: goldenrod;
    border-radius: 15px;
   
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    background-color: darkkhaki;
}

div {
    text-align: center;
}

#password{
    margin: auto;
    padding-top: 5px
}

#submit{
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#link-message{
    margin: auto;
}